@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--brand: #4f46e5;
}


html { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }


/* small utility */
.line-clamp-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }


/* make images and content look good */
.prose img { border-radius: 8px; }


/* dark mode */
.dark { color-scheme: dark; }